/* page visiteur */
/*CANDIDATURE*/
.titre_formulaire{
	border:5px solid red;
	text-align: center;
	color: white;
	background-color: #ed3126;
	border-radius: 10px;
}
/*cadre du formulaire*/
.cadreForm{
	border:2px solid black;
	border-radius: 10px;
	min-height: 432px;
	min-width: 891px;
}

/*bar de progression*/
.progress-bar{
	margin-left: 300px;
	margin-top: 20px;
}
/* Titre CAMPUS*/
.campus{
	border:5px solid #00b6de;
	text-align: center;
	color: white;
	background-color: #00b6de;
}
/*FORMULAIRE CAMPUS*/
.buttons{
	font-size: 14px;
	text-align: center;
	padding-top: 15px;
}	

label{
	text-transform: uppercase;
	padding-left: 10px;
	font-weight:bold;
}

.buttons input{
	margin-left: 50px;
}

/*Titre formation*/
.information{
	border:5px solid #00b6de;
	text-align: center;
	color: white;
	background-color: #00b6de;
}

/* les 3 cadres des infos*/
.info1{
	text-align: center;
	font-weight:bold;	
}

.info2{
	margin-right:20px;
	font-weight:bold;
	margin-top:30px;
}


.info3{
	text-align: center;
	font-weight:bold;
	margin-top: 30px;
	margin-left: 350px;
}
/* boutton suivant */




/* */

<div class="progressbar">
    <div class="progress-bar progress-bar-striped active" role="progressbar" 
        aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:100%"> 100%
    </div>
</div>


/* */

div class="row">
    <div class="col-lg-12">
        <div class="col-lg-4">
        </div>
        <div class="col-lg-4">
            <h2 class ="titre_formulaire">Candidature</h2>
        </div>
        <div class="col-lg-4">
        </div>
    </div>
</div>
<div class="row">
    <div class="cadreForm">
        <div class="col-lg-6">
            <div class="progressbar">
                <div class="progress-bar progress-bar-striped active" role="progressbar" 
                aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:100%"> 100%
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-4">
            </div>
            <div class="col-lg-4">
                <h3 class ="campus">CAMPUS</h3>
            </div>
            <div class="col-lg-4">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 buttons">              
            <input type="checkbox"><label>nantes</label>
            <input type="checkbox"><label>angers</label>
            <input type="checkbox"><label>rennes</label> 
            <input type="checkbox"><label>laval</label>
            <input type="checkbox"><label>le mans</label>
            <input type="checkbox"><label>caen</label>
            <input type="checkbox"><label>paris</label>    
        </div> 
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-4">
            </div>
            <div class="col-lg-4">
                <h3 class ="information">INFORMATION</h3>
            </div>
            <div class="col-lg-4">
            </div>
        </div>
    </div>   
    <div class="row">  
        <div class="col-lg-12 info1">
            <div class="col-lg-4">
                <label>nom:</label> <input type="text" name="nom">
            </div>
            <div class="col-lg-4">
                <label>prenom:</label> <input type="text" name="prenom">
            </div>
            <div class="col-lg-4">
                <label>date de naissance:</label> <input type="text" name="date de naissance">
            </div>
        </div>

        <div class="col-lg-12 info2">
            <div class="col-lg-4">
                <label>ville:</label> <input type="text" name="ville">
            </div>
            <div class="col-lg-4">
                <label>téléphone:</label> <input type="text" name="téléphone">
            </div>
            <div class="col-lg-4">
                <label>code postal:</label> <input type="text" name="code postal">
            </div>
        </div>
        <div class="col-lg-4 info3">
            <label>email:</label> <input type="text" name="email">
        </div>
    </div>
    <div class="row">  
        <div class="col-lg-12 btn_next">
            <button class="suivant" type="submit" name="suivant">
                <h4>SUIVANT</h4>
            </button>
        </div>
    </div>
</div>
</div>

<div class="row slider">
    <div class="row">
        <div class="col-lg-12 buttons">              
            <input type="checkbox"><label>nantes</label>
            <input type="checkbox"><label>angers</label>
            <input type="checkbox"><label>rennes</label> 
            <input type="checkbox"><label>laval</label>
            <input type="checkbox"><label>le mans</label>
            <input type="checkbox"><label>caen</label>
            <input type="checkbox"><label>paris</label>    
        </div> 
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-4">
            </div>
            <div class="col-lg-4">
                <h3 class ="information">INFORMATION</h3>
            </div>
            <div class="col-lg-4">
            </div>
        </div>
    </div> 
</div>