/* HEADER */
body {
	background-color: #f3f2f0;
}
.logo {
	padding: 15px;
}
.telHeader {
	padding-top: 70px;
	text-align: center;
}
.telHeader>span>.fa-custom {
	margin-right: 10px;
	font-size: 25px;
	height: 25px;
	width: 25px;
	border: solid #C4C4C4 1px;
	border-radius: 50%;
	color: white;
	background-color: #C4C4C4;
}
header {
	min-height: 150px;
}
.menuVille li {
	float: left;
	width: 10%;
	text-align: center;
	list-style-type: none;
	margin: 0px;
	padding: 5px;
	color: white;
	font-size: 14px;
}
.menuVille>li>span {
	text-transform: uppercase;
}
.row li {
	width: 14.285%;
}
.colorfdb515:hover {
	background-color: #fdb515;
	cursor: pointer;
}
.colored3126:hover {
	background-color: #ed3126;
	cursor: pointer;
}
.coloref7a35:hover {
	background-color: #ef7a35;
	cursor: pointer;
}
.color00b6de:hover {
	background-color: #00b6de;
	cursor: pointer;
}
.color58bf94:hover {
	background-color: #58bf94;
	cursor: pointer;
}
.menuVille {
	min-height: 30px;
	background-color: #686868;
	margin: 0px;
	padding: 0px;
	display: 
}

/* INDEX */

.boutonIndex {
	width: 50%;
	margin-left: 25%;
	margin-top: 0px;
	height: 50px;
	width: 200px;
	box-shadow: 5px 5px 5px black;
	color: white;
	border-radius: 10px;
}
.bleu {
	background-color: #6495ED;
}
.rouge {
	background-color: #FF6347;
}
 
/* PAGE VISITEUR */

.progressbar,h2 {
	width: 50%;
	margin-left: 25%;
	text-align: center;
	padding-top: 10px;
}
.cadre_formulaire {
	border: solid black 2px;
	border-radius: 15px;
}
.slider {
	width: 1170px;
	height: 390px;
	overflow: hidden;
}
.slider li {
	width: 1170px;
	height: 390px;
	float: left;
}
.slider ul {
  list-style-type:none;
  padding: 0;
  margin: 0;
  transition: all 0.25s;
}
.slider .row {
	max-width: 1170px;
}
