/* HEADER */
body {
	background-color: #f3f2f0;
}
.logo {
	padding: 15px;
}
.telHeader {
	padding-top: 70px;
	text-align: center;
}
.telHeader>span>.fa-custom {
	margin-right: 10px;
	font-size: 25px;
	height: 25px;
	width: 25px;
	border: solid #C4C4C4 1px;
	border-radius: 50%;
	color: white;
	background-color: #C4C4C4;
}
header {
	min-height: 150px;
}
.menuVille li {
	float: left;
	width: 10%;
	text-align: center;
	list-style-type: none;
	margin: 0px;
	padding: 5px;
	color: white;
	font-size: 14px;
}
.menuVille>li>span {
	text-transform: uppercase;
}
.row li {
	width: 14.285%;
}
.colorfdb515:hover {
	background-color: #fdb515;
	cursor: pointer;
}
.colored3126:hover {
	background-color: #ed3126;
	cursor: pointer;
}
.coloref7a35:hover {
	background-color: #ef7a35;
	cursor: pointer;
}
.color00b6de:hover {
	background-color: #00b6de;
	cursor: pointer;
}
.color58bf94:hover {
	background-color: #58bf94;
	cursor: pointer;
}
.menuVille {
	min-height: 30px;
	background-color: #686868;
	margin: 0px;
	padding: 0px;
	display: 
}

/* page visiteur */
/*CANDIDATURE*/
.titre_formulaire{
	border:5px solid red;
	text-align: center;
	color: white;
	background-color: #ed3126;
	border-radius: 10px;
}
/*cadre du formulaire*/
.cadreForm{
	border:2px solid black;
	border-radius: 10px;
	min-height: 432px;
	min-width: 891px;
}

/*bar de progression*/
.progress-bar{
	margin-left: 300px;
	margin-top: 20px;
}
/* Titre CAMPUS*/
.campus{
	border:5px solid #00b6de;
	text-align: center;
	color: white;
	background-color: #00b6de;
}
/*FORMULAIRE CAMPUS*/
.buttons{
	font-size: 14px;
	text-align: center;
	padding-top: 15px;
}	

label{
	text-transform: uppercase;
	padding-left: 10px;
	font-weight:bold;
}

.buttons input{
	margin-left: 50px;
}

/*Titre formation*/
.information{
	border:5px solid #00b6de;
	text-align: center;
	color: white;
	background-color: #00b6de;
}

/* les 3 cadres des infos*/
.info1{
	text-align: center;
	font-weight:bold;	
}

.info2{
	margin-right:20px;
	font-weight:bold;
	margin-top:30px;
}


.info3{
	text-align: center;
	font-weight:bold;
	margin-top: 30px;
	margin-left: 350px;
}
/* boutton suivant */
.suivant {
	border-radius:12px 0 12px 0;
	background: #00b6de;
	border:none;
	color:#fff;
	font:bold 12px Verdana;
	padding:6px 0 6px 0;
	margin-left: 1000px;
}
/* INDEX */

.boutonIndex {
	width: 50%;
	margin-left: 25%;
	margin-top: 0px;
	height: 50px;
	width: 200px;
	box-shadow: 5px 5px 5px black;
	color: white;
	border-radius: 10px;
}
.bleu {
	background-color: #6495ED;
}
.rouge {
	background-color: #FF6347;
}
 
